.book-body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0; 
    background-image: url(../Images/book.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
}

.book-body .card{
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.card-footer {
    display: flex;
    gap: 10px;
}

/* TimeStyle */

.showtime-buttons {
    display: flex;
    gap: 10px;
}
.showtime-button {
    cursor: pointer;
    background-color: #a4e5e8c8;
    color:black;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 12px;
    font-weight: bold;
    transition: background-color 0.3s;
}
.showtime-button:hover {
    background-color: #0dcdd7c8;
}
.selected {
    background-color: #1b46d1ca;
}

/* Date Style */

.card-header {
    display: flex;
    gap: 10px;
}

.date-button {

    padding: 10px;
    cursor: pointer;
    background-color: #edeef28f;
    color: rgba(10, 9, 9, 0.818);
    border: none;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    transition: background-color 0.3s;
}
.date-button:hover {
    background-color: #edeef2f0;
}
.selected {
    background-color: #1b46d1ca;
}

.seat-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
        gap: 10px;
}

.seat {
    cursor: pointer;
    background-color: #eee;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    transition: background-color 0.3s;
}

.arrow-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 10px;
}
