
.confirmpageBody{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url("https://png.pngtree.com/thumb_back/fh260/back_our/20190621/ourmid/pngtree-national-day-film-festival-simple-gray-background-image_195524.jpg");
    background-position: center;
    background-size: cover;
}
.card{
    background-color: #ffffff1b;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.961);
    max-width: 400px;
    width: 100%;
}
.card img{
    max-width: 80px;
    border-radius: 5px;
    margin-right: 15px;
    float: right;
}
.card-details{
    text-align: left;
    margin-bottom: 15px;
}
.pageMtitle{
    color: rgba(227, 141, 3, 0.947);
    margin-bottom: 8px;
}
.card-details p{
    color: rgba(14, 14, 14, 0.889);
}
.card-details h5{
    color: #1c1b1be3;
    text-align: center;
}
.confirm{
    background-color: rgb(169, 36, 36);
    margin: 5px;
}
.confirm:hover{
    background-color:rgba(169, 36, 36, 0.943);
    color: black;
}

.card-details h6{
    color: rgb(60, 31, 9);
}
.card-details hr {
    border: none;
    height: 2px;
    background-color: #0e0e0e;
}
