.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    background-color:#263238; 
    color: #ffffffe2;;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
   
    bottom: 0;
    
  }

  
  .about p {
    display: inline;
    margin: 0; 
    padding: 13px;
  }
  hr {
    width: 100%;
    height: 5px;
    background-color: #396ce2;
    border: none;
    margin: 0;
  }
  .aboutLink{
    color: antiquewhite;
    text-decoration: none;
  }
  

.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
}
.social-icons a {
    margin: 0 10px;
    color: #e2dedec2;
    text-decoration: none;
    transition: color 0.3s ease;
}

.social-icons a:hover {
    color: #f9f3f3;
}
