
.viewticket-body{
    min-height: 100vh;
    overflow-y: hidden;
    background-image: url("https://static.vecteezy.com/system/resources/thumbnails/025/402/562/small_2x/movie-time-3d-render-illustration-cinema-poster-concept-on-color-background-composition-with-popcorn-clapperboard-3d-glasses-and-filmstrip-cinema-banner-design-for-movie-theater-photo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.btn-download{
    background-color: rgba(36, 35, 35, 0.514);
    color: whitesmoke;
}
.btn-download:hover{
    background-color: rgb(36, 35, 35);
    color: whitesmoke;
}

.card-details .qrcode{

    float: right;
}
.seat-ticket{
    color: black;
}


.btn-gohome{
    color: black;
}
.viewticket-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.center-buttons {
    text-align: center;
    margin-top: -60px; /* Adjust margin as needed */
}
