
body{
    background-image: url("https://images.unsplash.com/photo-1489599849927-2ee91cede3ba?q=80&w=1770&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-position: center;
    overflow-x: hidden;
}
.card-header h3{
    color: rgb(221, 130, 54);
    }

.list-unstyled {
    display: flex;
    margin: 20px;
}

.list-unstyled li {
    margin: 10px; 
}

.btn-add-movie{
    background-color: rgba(66, 237, 86, 0.934);
}
.btn-add-movie:hover{
    background-color: rgba(66, 237, 86, 0.704);
    color: black;
}
.btn-list-movie{
    background-color: rgba(84, 205, 242, 0.901);
}
.btn-list-movie:hover{
    background-color: rgba(84, 205, 242, 0.717);
    color: black;
}
.btn-poster-movie{
    background-color: rgba(146, 101, 161, 0.901);
}

.btn-poster-movie:hover{
    background-color: rgba(146, 101, 161, 0.844);
    color: black;
}